<a href="https://colab.research.google.com/github/evanadams/classwork/blob/main/basicdatacleaing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv("https://github.com/realpython/python-data-cleaning/raw/master/Datasets/BL-Flickr-Images-Book.csv")

data['Corporate Author'].isna().value_counts()/len(data)

data['Former owner'].isna().value_counts()/len(data)

to_drop = ['Edition Statement', 'Corporate Author', 'Corporate Contributors',	'Former owner',	'Engraver']
data = data.drop(columns=to_drop)

data.set_index('Identifier', inplace=True)

regex = r'^(\d{4})'

dataextr = data['Date of Publication'].str.extract(regex, expand=False)

data["Date of Publication"] = pd.to_numeric(dataextr)

data["Date of Publication"].isnull().sum()/len(data)

datapop = data["Place of Publication"]

london = datapop.str.contains('London')

oxford = datapop.str.contains('Oxford')

data['Place of Publication'] = np.where(london, "London", 
                                        np.where(oxford, 'Oxford', 
                                                 datapop.str.replace('-', ' ')))
data['Place of Publication'].head(25)

In [ ]:
uni_towns = []
with open("/content/university_towns.txt") as file:
  for line in file: 
    if '[edit]' in line:
      state = license
    else:
      uni_towns.append((state, line))

uni_towns[:5]

[(Type license() to see the full license text,
  'Auburn (Auburn University)[1]\n'),
 (Type license() to see the full license text,
  'Florence (University of North Alabama)\n'),
 (Type license() to see the full license text,
  'Jacksonville (Jacksonville State University)[2]\n'),
 (Type license() to see the full license text,
  'Livingston (University of West Alabama)[2]\n'),
 (Type license() to see the full license text,
  'Montevallo (University of Montevallo)[2]\n')]